@charset "utf-8";
html {
	font: 10px monospace;
	user-select: none;
}
body {
	margin: 0 auto;
	max-width: 50rem;
}
#p1vGV9Ip {
	table-layout: fixed;
	width: 100%;
}
#p1vGV9Ip textarea {
	border: solid 1px gray;
	box-sizing: border-box;
	display: block;
	font: inherit;
	height: 4rem;
	margin: 0;
	outline: 0;
	padding: 0;
	resize: none;
	width: 100%;
}
#p1vGV9Ip input {
	box-sizing: border-box;
	display: block;
	font: inherit;
	height: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	width: 100%;
}
#p1vGV9Ip button {
	box-sizing: border-box;
	display: block;
	font: inherit;
	height: 2rem;
	margin: 0;
	outline: 0;
	padding: 0;
	width: 100%;
}
#graph {
	display: block;
	width: 100%;
}
#result {
}
#result {
	width: 100%;
}
@media screen and (min-width: 500px) {
	html {
		font-size: 20px;
	}
}